.auth-block {
    max-width: 25vw;
    min-width: 450px;
    position: absolute;
    border: solid rgba(170, 170, 170, 0.3) 1px;
    padding: 70px;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: rgba(32, 87, 189, 0.11);
}

.auth-block__title{
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-block__title h3{
    font-size: 35px;
    font-weight: bolder;
    color: #000000;
}

.form-btn{
    width: 50%;
    position: relative;
    margin-left: 25%;
    margin-top: 25px;
    background: rgba(48, 43, 208, 0.79);
}


.auth-bg{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    padding-bottom: 500px;
}

.auth-block-redirect_button{
    text-align: center;
    margin-top: 10px;

}
.auth-block-redirect_button a{
    text-decoration: underline;
    color: white;
    opacity: 0.6;
    font-size: 15px;
}