header{
    top: 0;
    position: relative;
    height: 55px;
    width: 100%;
    background: rgba(7, 7, 7, 0.06);
    border-bottom: solid 1px rgba(170, 170, 170, 0.21);
    padding: 0 57px;
}



.header-wrapper{
    width: 80%;
    height: 100%;
}

.header-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-item a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: calc(var(--index) * 0.6);
}

.header-profile__username{
    margin-right: 15px;
    font-size: calc(var(--index) * 0.6);
}
.header-profile__username p{
    margin: 0;
    color: rgba(255, 255, 255, 0.68);
    font-weight: 400;
}

.header-profile__image{
    padding: 2px 4px;
    border-radius: 100px;
    border: solid white 2px;
    margin-right: 15px;
}

.header-profile__image img{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}
.header-profile__notifications{
    display: flex;
    align-items: center;
    justify-content: center;
}

.notifications__dote{
    width: 7px;
    height: 7px;
    border-radius: 100px;
    background: red;
    position: relative;
    top: -2px;
    left: 70%;
}


