.homepage-item{
    padding: 12px;
    background: rgba(42, 65, 189, 0.06);
    border-radius: 15px;
}

.home-wrapper {
    width: 700px;
    margin: auto;
    padding: 15px;
}

.create-post-input_field{
    background: rgba(189, 195, 225, 0.09);
    padding: 10px 10px 10px 12px;
    width: 100%;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}

#create-post-input_text
{
    resize: none;
    border: none;
    color: white;
    caret-color: white;
    outline: none;
    background: transparent;
    width: 95%;
    height: 24px;
    float: left;
}


#create-post-buttons {
    display: none;
    margin-top: 10px;
    justify-content: space-between;
}



#create-post-file_list{
    margin-top: 15px;
    flex-wrap: wrap;
}


#create-post-input_file{
    display: none;
}


.create-post-label_file label{
    cursor: pointer;
    width: inherit;
}
.create-post-label_file label img{
    width: inherit;
}

.create-post-label_file{
    opacity: 0.4;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 7px;
}

.file-icon-container {
    position: relative;
}

.file-icon-container::before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('../../public/images/icon-close.svg');
}

.file-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
}

#create-post-file_list{
    display: flex;
}

#create-post-file_list div{
    margin-left: 15px;
}

.text-truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70px;
}